<header>
  <nav id="navbar-color" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/menu">
        <img src="/images/icecream.png" alt="" width="80" height="80" class="d-inline-block align-text-top">
      </a>
      <a id="navbar-cart" class="btn btn-outline" href="/menu/checkout">
        <i class="fas fa-cart-arrow-down"></i>
        <span class="cart-counter">0</span>
      </a>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/menu"> <strong>Grandma's Creamery</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/menu/history">Order History</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

</header>
