<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_links') %>
  <title>Grandma's Creamery - Checkout</title>
</head>

<body>
  <%- include('partials/_header') %>
  <% for (let order of orders) { %>
    <table>
      <tr>
        <th> Total Quanitity:</th>
        <th> Total Price: </th>
      </tr>
      <tr>
        <td>
          <%=order.total_price%>
        </td>
        <td>
          <%=order.total_quantity%>
        </td>
      </tr>
    </table>

    <% } %>

  <div><h3>Submit</h3>
      <form method="POST" action="/menu/checkout" id="form">
          <button type="submit" id="submit-button">place order</button>
      </form>
   </div>

</body>

</html>
