<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_links') %>
<script type="text/javascript" src="/scripts/timer.js"></script>
    <title>Grandma's Creamery - Checkout</title>
</head>




<body>
  <%- include('partials/_header') %>
<div class="order-box">

<div class="order-confirm">
<div> <strong>Order Successfully Placed</strong></div>
<br>
<div><i class="fa-regular fa-circle-check checkmark"></i></div>
<br>
<div>
  Thank you for placing your order with us.
</div>
<div>
  Expect to recieve a text message for when to pick up your order.
</div>
<div>
  We hope to see you again!
</div>
<!-- countdown timer for pickup time -->
<div id='timer' class="timer"></div>
</div>



</div>


</body>

</html>








