



<br>
      <form method="POST" action="/menu/order">
</div>
<div>
  <header>
    <div>
      <h2>Order Has Succesfully Been Placed</h2>
    </div>
  </header>
  <div>
    <% for (let order in listOfOrders) { %>

      <% } %>
  </div>
        <div>

          <form method="POST" action="menu/history" >
            <button type="submit" id="submit-button">Order History</button>
          </form>
        </div>

</body>


