article {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }

  .description {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

/*article h2 {
  text-align: center;
}

article .description {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
*/
